#markdown-content {
  img {
    max-width: 100%;
    height: auto;
  }

  .tistory-table {
    margin: 1rem 0;

    table {
      border-collapse: collapse;
      width: max-content;
      min-width: 100%;
      margin-bottom: 0;
    }

    td,
    th {
      border: 1px solid var(--global-divider-color);
      height: auto;
      padding: 0.5rem 0.75rem;
      vertical-align: middle;
    }

    mjx-container {
      overflow: visible;
    }
  }
}
